.course-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

.course-name {
    font-weight: bold;
}
