.error-message {
    color: red;
    margin: 10px 0;
}
  
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.login-form > * {
    margin-bottom: 30px;
}
